/* ナビバー */
.navbar{
	margin-bottom: 0;
}

/* トップ */
.jumbotron-extend{
	height: 100vh;
	min-height: 350px;
	margin-bottom: 0px;
	background-color: #6690b9;
	background-size: cover;
}

.jumbotron-container{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transfomr: translateY(-50%);
	transform: translateY(-50%);
	padding-left: 30px;
	padding-right: 30px;
}

.site-name{
	font-size: 64px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #DDD;
	text-align: center;
}

.btn-black{
	border-radius: 0;
	background-color: #000;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

.btn-black:hover{
	background-color: #fff;
	color: #000;
}


/* コンテンツ */
.a-icon{
	color: #000;
}

.contents{
	max-width: 990px;
	margin: 0;
}

.content-primary,
.content-secondary{
	padding-left: 0;
	padding-right: 0;
}

.content-primary{
	background-color: #eee;
}

.content-secondary{
	background-color: #6690b9;

}

.content-title{
	text-align: center;
	font-size: 32px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

#contact{

}

/* フッター */
.footer{
	background-color: #eee;
	height: 100px;
	text-align: center;
}