/* レスポンシブ対応　font-sizeの基準 */
html { font-size: 62.5%;} /* = 10px */
body { font-size: 16px; font-size: 1.6rem; } /* = 16px */
h1 { font-size: 32px; font-size: 3.2rem; }　/* = 16px */
h2 { font-size: 24px; font-size: 2.4rem; }　/* = 16px */
h3 { font-size: 20px; font-size: 2.0rem; }　/* = 16px */
h4 { font-size: 18px; font-size: 1.8rem; }　/* = 16px */
p { font-size: 16px; font-size: 1.6rem; }　/* = 16px */

/* ナビバー */
.navbar{
	margin-bottom: 0;
}

/* トップ */
.jumbotron-extend{
	height: 80vh;
	min-height: 350px;
	margin-bottom: 0px;
	background-color: #f9f8f3;
	background-size: cover;
	background-image: url(../img/header.png);
}

.jumbotron-container{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transfomr: translateY(-50%);
	transform: translateY(-50%);
	padding-left: 30px;
	padding-right: 30px;
}

h1.site-name{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #EEE;
	text-align: center;
}

.btn-black{
	border-radius: 0;
	background-color: #000;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

.btn-black:hover{
	background-color: #fff;
	color: #000;
}


/* コンテンツ */
.a-icon{
	color: #000;
}

.contents{
	max-width: 990px;
	margin: 0;
}

.content-primary,
.content-secondary{
	padding-left: 0;
	padding-right: 0;
}

.content-primary{
	background-color: #eee;
}

.content-secondary{
	background-color: #f9f8f3;

}

h2.content-title{
	margin: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

h3.content-title{
	margin: 0;
}

#contact{
	width: 36rem;
	margin: auto auto;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

ul.contact{

}

ul.contact li{

}

/* フッター */
.footer{
	background-color: #eee;
	height: 100px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #000;
}